/* *******************
   Color Variables
******************* */

$wwuBlue: #003f87;
$wwuLtblue: #0083d6;
$wwuRed: #cc2d30;
$wwuYellow: #ffc61e;
$wwuLime: #bad80a;
$wwuGreen: #006b3f;

$wwuGrayBlue: #4B689C;
//Vetted for accessibility via contrast
$wwuOceanBlue: #0070b6;

$gray: rgba(151,151,151,1);

$muli: Muli, Tahoma, Verdana, "DejaVu Sans", sans-serif;

/* *******************
   Heading Sizes
******************* */

h2 { font-size:1.5em;}

/* *******************
 		Mixins
******************* */

@mixin hide-text-bg-img {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

@mixin multi-line-flow-link {
  line-height:1.25; margin-top:.33em; padding-bottom:.17em;
}

@mixin bar-arrow {
  content:'';
  display:block;
  position:relative;
  right:-17.275em;
  top:-2.25em;
  border-top: 1.3em solid transparent;
  border-left: .5em solid $wwuLtblue;
  border-bottom: 1.3em solid transparent;
}