/**
 * @file
 * Customization for CHSS
 *
 */

@import "base";
@import "compass";
@import "zen";
$box-sizing-polyfill-path: "/sites/all/themes/wwuzen/js/boxsizing.htc";
$wwuBlue: #003f87;
$wwuLtblue: #0083d6;

/**
* Default Zen Grid Layout setup
*/
$zen-column-count:  12;
$zen-gutter-width:  1.25em;
$zen-auto-include-item-base: false;

main {
  @include zen-grid-container();
  @include zen-grid-item-base();
  padding-left:.5em;
  padding-right:.5em;
  $zen-column-count: 1;
}

.content {
  padding-left:.5em;
  padding-right:.5em;
}

/*
* Home Page Panel layout
*/


.front main .page-title { display:none; }

.clean-chss-middle-left, .clean-chss-middle-center, .clean-chss-middle-right {
  background-color:#ffffff;
  height:17.2em;
}

main p.callOut {
  color:$wwuLtblue;
  font-size:1.25em;
}

main li {
  font-size:.925em;
}

/**
* Slideshow styles
*/
.flex-flexslider {
  background-color:$gray;
  border-top: 2px solid $gray;
  border-left: 2px solid $gray;
  border-right: 2px solid $gray;
  border-bottom: 0px solid $gray;
  border-radius: 0px 0px 0px 0px;
  margin-top:1.5em;
  @include box-shadow(-5 -5 5px #888888);
  height:13.5em;
}
.flex-caption {
  background-color:#222222;
  @include opacity(.5);
  color:#ffffff;
  padding:.5em;
}

.flex-control-paging li a.flex-active {
    background: none repeat scroll 0 0 rgba(204, 45, 48, 1.0);
    cursor: default;
}

.flex-control-paging li a {
    background: none repeat scroll 0 0 $gray;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3) inset;
}

/**
* File display styles
*/
.view .file {
	display: table;
	width: 100%;
}

.view .file .content {
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}
